.venv/
Parte3/data_extraction/credentials.py
Parte3/data_extraction/data_previews/
.cache
__pycache__
*.pyc
.idea
*.pkl
Parte2/preprocessed_words.txt
Parte2/blocks
Parte3/R-tree/feature_spotify.pkl
Parte3/R-tree/rtree_index_spotify.dat
Parte3/R-tree/rtree_index_spotify.idx
